In [6]:
import pandas as pd 
df = pd.DataFrame([['2019-01-01 00:00:00', 10, "Jackie"],
['2019-01-01 01:00:00', 10, "Jackie"],
['2019-01-01 02:00:00', 10, "Jackie"],
['2019-01-01 03:00:00', 10, "Jackie"],
['2019-09-01 02:00:00', 12, "Zoop"],
['2019-09-01 03:00:00', 12, "Zoop"],
['2019-09-01 04:00:00', 12, "Zoop"],
['2019-09-01 05:00:00', 12, "Zoop"]],columns = ["date", "value", "ID"])
df['xx'] = df['value'].shift(1)
df

                  date  value      ID    xx
0  2019-01-01 00:00:00     10  Jackie   NaN
1  2019-01-01 01:00:00     10  Jackie  10.0
2  2019-01-01 02:00:00     10  Jackie  10.0
3  2019-01-01 03:00:00     10  Jackie  10.0
4  2019-09-01 02:00:00     12    Zoop  10.0
5  2019-09-01 03:00:00     12    Zoop  12.0
6  2019-09-01 04:00:00     12    Zoop  12.0
7  2019-09-01 05:00:00     12    Zoop  12.0

In [7]:
file1 = open('ZSSAMHSABupPhysicians_Data.txt', 'r') 
lines = file1.readlines()

In [44]:
arr = []
arr.append("|".join(["Name","idk","address","City","State_ZIP","County","Phone","Y","X"]) )
for line in lines:
    splitted = line.split(",")
    X = splitted.pop()
    Y = splitted.pop()
    Phone = splitted.pop()
    City = splitted.pop()
    State_ZIP = splitted.pop()
    County = splitted.pop()
    idk = splitted [1]
    Name = splitted[0]
    address = " ".join(splitted [2:])
#     print (splitted)
    final = "|".join([Name,idk,address,City,State_ZIP,County,Phone,Y,X])
    arr.append(final)

In [45]:
arr
pd.DataFrame(arr).to_csv("file1.csv")